<div class="row">
  <div class="col-md-12">
    <form (ngSubmit)="addIngredient(ingredientForm)" #ingredientForm="ngForm">
      <div class="row">
        <div class="col-sm-6 form-group">
          <label for="name">Name</label>
          <input id="name"
                 name="name"
                 ngModel
                 required
                 type="text"
                 class="form-control"/>
        </div>
        <div class="col-sm-3 form-group">
          <label for="amount">Amount</label>
          <input id="amount"
                 name="amount"
                 ngModel
                 required
                 pattern="^[1-9]+\d*$"
                 type="number"
                 class="form-control"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-success"
                  type="submit"
                  [disabled]="ingredientForm.invalid">{{editMode ? 'Update' : 'Add'}}</button>
          <button class="btn btn-danger ml-1"
                  *ngIf="editMode"
                  type="button" (click)="onDelete()">Delete</button>
          <button class="btn btn-primary ml-1" type="button" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
