<form>
  <div class="form-group">
    <label for="usernameInput">Username</label>
    <input type="text" class="form-control" id="usernameInput" aria-describedby="usernameHelp" placeholder="Enter username">

  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-outline-primary">Suggest username</button>
  </div>
  <div class="form-group">
    <label for="emailInput">Mail</label>
    <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="secretQuestionSelect">Secret Questions</label>
    <select class="form-control" id="secretQuestionSelect">
      <option>Your first pet?</option>
      <option>Your first teacher?</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
