<div class="row">
  <div class="col-md-12">
    <button class="btn btn-sm btn-primary">New Recipe</button>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action"
         *ngFor="let recipe of recipes">
        <div class="media">
          <div class="media-body">
            <h5 class="mt-0 mb-1">{{recipe.name}}</h5>
            <p>
              {{recipe.description}}
            </p>
          </div>
          <img width="128" height="128" [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-thumbnail"/>
        </div>
      </a>
    </div>
    <app-recipe-item></app-recipe-item>
  </div>
</div>
